
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Создать заявку</title>
</head>
<body>
    <td>
        <button name="Create">Создать заявку</button>
    </td>   
</body>
</html>
