
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h3>заполнение данных</h3>
<br />

<form method="post" action="">
    <table>
        <tbody>
            <tr>
                <td>ФИО</td>
                <td><input type="text" name="FIO" /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="Email" /></td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>
</form>


