
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SomeView</title>
</head>
<body>
    <div> 
        <p>SomeView</p>
        @{ 
            String P = "Hello";
            P = P + ",  world!";
        }
        <br/>
        <p>@P</p>
    </div>
</body>
</html>
